In [2]:
import psycopg2

In [3]:
%load_ext sql

In [4]:
%sql postgresql://ugevpyllcosyvj:c6d71dd4ed2886ccd8eb2286879a05dc3ebb21046ff280be09bff424ec3d15ff@ec2-44-198-100-81.compute-1.amazonaws.com:5432/db4vmf7pt6qmqj

## Question 1

To find out the target customer of BeeCycle, you do a query to see the distribution of customers by gender and age.

For the age category, you divide customer age into (Hint: WHEN CASE) :
- Customer age <= 20 years then 'Group <= 20'
- Customer age between 21 and 40 years then 'Group 21 - 40'
- Customer age between 41 and 60 years then 'Group 41 - 60'
- Customer age is more than 60 years then 'Group > 60'

With the defined grouping_age, then answer the following questions

What grouping age and gender have the highest transactions on BeeCycle?

In [7]:
%%sql

WITH group_table AS (SELECT customer_id,
case when gender = 'M' then 'Male'
     when gender = 'F' then 'Female' end gender_type,
case when extract('year' FROM date('2022-01-22')) -  extract('year' from birthdate) <= 20 then 'umur_20'
     when extract('year' FROM date('2022-01-22')) -  extract('year' from birthdate) between 21 and 40 then 'umur 21_40' 
     when extract('year' FROM date('2022-01-22')) -  extract('year' from birthdate) between 41 and 60 then 'umur 41_60'
else 'Other' end grouping_age
FROM dim_customer)

SELECT gb.grouping_age, gb.gender_type
FROM fact_sales fs
inner join group_table gb using(customer_id) 
GROUP BY 1,2
ORDER BY COUNT(fs.order_date) DESC
LIMIT 1

 * postgresql://ugevpyllcosyvj:***@ec2-44-198-100-81.compute-1.amazonaws.com:5432/db4vmf7pt6qmqj
1 rows affected.

[('umur 21_40', 'Female')]

In [8]:
%%sql 

with
age_table as 
 (select customer_id, gender, extract('year' from date('2022-01-22')) -  extract('year' from birthdate) umur, 
  case when gender = 'M' then 'Male'when gender = 'F' then 'Female' end gender_type
  from dim_customer),

result as
(select customer_id, max(totalprice_rupiah) transaksi 
from fact_sales 
where customer_id in (select customer_id from age_table)
group by 1)

select customer_id,
case when umur <= 20 then 'umur_20'
when umur between 21 and 40 then 'umur21_40' 
when umur between 41 and 60 then 'umur41_60'
else 'Other' end umur, at.gender_type, max(rs.transaksi)
from age_table at
inner join result rs using(customer_id) 
where customer_id in (select customer_id from result)
group by 1,2,3
limit 1

 * postgresql://ugevpyllcosyvj:***@ec2-44-198-100-81.compute-1.amazonaws.com:5432/db4vmf7pt6qmqj
1 rows affected.

[(11000, 'umur21_40', 'Male', Decimal('47599860'))]

## Question 2

Because next October there will be a campaign. You have an idea to highlight the color of a certain product that the customer likes. Afterwards you do a query to answer the following questions:

What color is the most popular color purchased by customers every year?

In [29]:
%%sql

with
warna_populer as 
(select color,extract('year' from order_date) years, 
rank() over (partition by extract(year from order_date) order by count(order_detail_id) desc) as rank
from fact_sales inner join dim_product using(product_id)
group by 1,2)

select years, color
from warna_populer
where rank = 1

 * postgresql://ugevpyllcosyvj:***@ec2-44-198-100-81.compute-1.amazonaws.com:5432/db4vmf7pt6qmqj
6 rows affected.

[(2016.0, 'Red'),
 (2017.0, 'Red'),
 (2018.0, 'NA'),
 (2019.0, 'NA'),
 (2020.0, 'NA'),
 (2021.0, 'NA')]

## Question 3

Because the October campaign is only limited to each branch store. You have an idea, how to take only the TOP 10 product_id from each branch store. So you do a query to answer the following questions:

The TOP 10 products names are the most popular from each territory.

In [31]:
%%sql 

with top_product as
(select territory_id, 
dp.product_name,
row_number() over (partition by fs.territory_id order by count(fs.order_detail_id) desc) as row
from fact_sales fs
inner join dim_product dp using(product_id) 
group by 1,2)

select territory_id, product_name
from top_product
where row <= 10

 * postgresql://ugevpyllcosyvj:***@ec2-44-198-100-81.compute-1.amazonaws.com:5432/db4vmf7pt6qmqj
75 rows affected.

[(1, 'HL Mountain Tire'),
 (1, 'Patch Kit/8 Patches'),
 (1, 'Mountain Tire Tube'),
 (1, 'Road-150 Red, 62'),
 (1, 'Road-150 Red, 48'),
 (1, 'Road-150 Red, 56'),
 (1, 'Road-150 Red, 44'),
 (1, 'Fender Set - Mountain'),
 (1, 'Road-150 Red, 52'),
 (1, 'Water Bottle - 30 oz.'),
 (4, 'HL Mountain Tire'),
 (4, 'Patch Kit/8 Patches'),
 (4, 'Road-150 Red, 48'),
 (4, 'Fender Set - Mountain'),
 (4, 'Mountain Tire Tube'),
 (4, 'Road-150 Red, 56'),
 (4, 'Road-150 Red, 62'),
 (4, 'Road-150 Red, 52'),
 (4, 'Road Tire Tube'),
 (4, 'Road-150 Red, 44'),
 (5, 'Mountain-200 Silver, 38'),
 (5, 'Mountain Bottle Cage'),
 (5, 'Water Bottle - 30 oz.'),
 (5, 'Patch Kit/8 Patches'),
 (5, 'Classic Vest, L'),
 (6, 'Road Tire Tube'),
 (6, 'Patch Kit/8 Patches'),
 (6, 'Mountain Tire Tube'),
 (6, 'Touring Tire Tube'),
 (6, 'Sport-100 Helmet, Black'),
 (6, 'ML Road Tire'),
 (6, 'Sport-100 Helmet, Blue'),
 (6, 'HL Road Tire'),
 (6, 'Water Bottle - 30 oz.'),
 (6, 'LL Mountain Tire'),
 (7, 'Water Bottle - 30 oz.'),
 (7, 'Road Bottle Cage'),
 (7, 'Sport-100 Helmet, Blue'),
 (7, 'Mountain Bottle Cage'),
 (7, 'Mountain-200 Black, 42'),
 (7, 'Sport-100 Helmet, Red'),
 (7, 'Mountain-200 Black, 46'),
 (7, 'Mountain-200 Silver, 46'),
 (7, 'Patch Kit/8 Patches'),
 (7, 'Mountain-200 Silver, 38'),
 (8, 'Water Bottle - 30 oz.'),
 (8, 'Mountain Bottle Cage'),
 (8, 'AWC Logo Cap'),
 (8, 'Mountain-200 Silver, 46'),
 (8, 'Sport-100 Helmet, Black'),
 (8, 'Sport-100 Helmet, Red'),
 (8, 'Road Bottle Cage'),
 (8, 'Sport-100 Helmet, Blue'),
 (8, 'Fender Set - Mountain'),
 (8, 'Mountain-200 Black, 46'),
 (9, 'Water Bottle - 30 oz.'),
 (9, 'Mountain Bottle Cage'),
 (9, 'Mountain-200 Black, 42'),
 (9, 'Mountain-200 Silver, 38'),
 (9, 'Sport-100 Helmet, Red'),
 (9, 'Fender Set - Mountain'),
 (9, 'Road Bottle Cage'),
 (9, 'Sport-100 Helmet, Blue'),
 (9, 'Mountain-200 Silver, 42'),
 (9, 'Patch Kit/8 Patches'),
 (10, 'Water Bottle - 30 oz.'),
 (10, 'Sport-100 Helmet, Blue'),
 (10, 'AWC Logo Cap'),
 (10, 'Sport-100 Helmet, Red'),
 (10, 'Mountain Bottle Cage'),
 (10, 'Road Bottle Cage'),
 (10, 'Sport-100 Helmet, Black'),
 (10, 'Mountain-200 Black, 42'),
 (10, 'Mountain-200 Silver, 42'),
 (10, 'Touring Tire')]

## Question 4

Because you have passed the probation, the boss asked you to make your own analysis. Some steps that need to be carried out are:

1. Make an objective analysis (example: Because the next campaign wants to be maximized, we will highlight the top2 products)
2. Make a business question (example: What are the most popular products of the total transactions?)
3. Build the Query to answer the question in point no. 2
4. Write Actionable knowledge or next action after getting the answer from point 3 (example: the highest ABC product, so we will focus on promoting the product)

In [32]:
%%sql 

select dt.country, count(fs.order_detail_id) orders
from dim_territory dt
inner join fact_sales fs using(territory_id) 
group by 1
order by orders asc
limit 2

 * postgresql://ugevpyllcosyvj:***@ec2-44-198-100-81.compute-1.amazonaws.com:5432/db4vmf7pt6qmqj
2 rows affected.

[('Germany', 659), ('France', 720)]

Objective: because we want to see the sales performance of each country, it is known that the two lowest product sales are in Germany and France.

Business Question : Since Germany and France are the countries with the lowest sales, it is necessary to know why and if it has been known, what marketing methods are suitable in these countries in order to increase sales?

Actionable knowledge or next action: analyze the reasons why Germany and France the countries with the lowest sales and conduct a suitable marketing program for both countries to increase sales are.